<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS-->
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
  </head>
  <body>
    <nav class ="navbar navbar-default">
      <ul class = "nav navbar-nav">
        <%for(var i=0;i<family.length; i++) {%>
        <li><a href =<%= family[i]%>><%= family[i]%></a></li>
        <% } %>

      </ul>
    </nav>
